
.fa-calendar{
    margin: 8px 17px;
    font-size: 27px !important;
}
.fa-user-plus{
    margin: 8px 42px;
    font-size: 27px !important;
}
.fa-users{
    margin: 8px 33px;
    font-size: 27px !important;
}