<div class="col-md-offset-2 col-md-8">
    
    <section class="well bs-component">
    <h1 class="text-center">Editar Taxi</h1>
    <br>
    <form name="edit_form" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="nombreAdmin" class="col-sm-2 control-label">Nombre Admin:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="nombreAdmin"
                     name ="NombreAdmin" ng-model="value.name_admin" placeholder="Nombre Admin"/>
            </div>
          </div>
          <div class="form-group">
            <label for="apellido" class="col-sm-2 control-label">Apellido:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="apellido"
                     name ="apellido" ng-model="value.last_name_admin" placeholder="Apellido Admin"/>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
              <input class="form-control" type="email" id="email"
                     name ="email" ng-model="value.email" placeholder="Email"/>
            </div>
          </div>
          
          <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Nombre de Parqueo:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="nombre"
                     name ="Nombre" ng-model="value.name" placeholder="Nombre"/>
            </div>
          </div>

    
      <div class="form-group">
        <div class="col-sm-12">
          <a ng-click="editSubjet()" class="btn btn-block btn-small btn-primary">Editar</a>
          <br>
          <a href="#/" class="btn btn-block btn-small btn-danger">Cancelar</a>
        </div>
      </div>
    </form>
    </section>
</div>

