
<!-- Content Section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Lista de Horarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="#/add" class="btn btn-success" role="button">Añadir Materia</a>
            </div>
        </div>
    </div>
</div>
<!-- /Content Section -->
<section class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Nombre Materia</th>
        <th>Sigla</th>
        <th>Docente</th>

        <th>Añadir Ayudante</th>

        <th>Horarios</th>
        <th>Añadir Horas</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="value in values">
        <td>{{$index+1}}</td>
        <td>{{value.name}}</td>
        <td>{{value.acronym}}</td>
        <td>{{value.teacher}}</td>

        <td><a href="#/addAsistance/{{value.$id}}" class="btn btn-small btn-info">Añadir</a></td>

        <td>
          <section class="well" style="display:inline-block" ng-repeat="sche in value.schedule">
              <span class="label label-info">{{ sche.classroom }}</span>
              <span class="label label-info">{{ sche.day }}</span>
              <span class="label label-info">{{ sche.finish }}</span>
              <span class="label label-info">{{ sche.init }}</span>
              <a href="#/editTimeTable/{{value.$id}}/{{  }}" class="btn btn-small btn-primary">Editar Horas</a>
          </section>

      </td>
        <td><a href="#/addTimeTable/{{value.$id}}" class="btn btn-small btn-primary">Añadir Horas</a></td>
        <td><a href="#/edit/{{value.$id}}" class="btn btn-small btn-primary">Editar</a></td>
        <td><a class="btn btn-small btn-danger" ng-click="removeTaxi(value.$id)">Eliminar</a></td>
      
      </tr>
    </tbody>
  </table>
</section>
  

